<!-- Navbar -->
<p-menubar [model]="menuItems" class="shadow-md">
    <ng-template pTemplate="start">
        <h3 class="m-0 font-semibold text-lg">{{ title }}</h3>
    </ng-template>
</p-menubar>

<section class="min-h-screen flex items-center justify-center bg-gray-50">

    <p-card class="w-full max-w-lg shadow-2xl rounded-2xl">

        <div class="text-center mb-6">
        <h2 class="text-2xl font-bold">Crear Cuenta</h2>
        </div>

        <form [formGroup]="registerForm" (ngSubmit)="register()" class="space-y-5">

        <!-- Nombre -->
        <span class="p-float-label">
            <label for="name">Nombre</label>
            <input pInputText formControlName="name" id="name" class="w-full" />
        </span>

        <!-- Email -->
        <span class="p-float-label">
            <label for="email">Correo</label>
            <input pInputText formControlName="email" id="email" class="w-full" />
        </span>

        <!-- Edad -->
        <span class="p-float-label">
            <label for="age">Edad</label>
            <input pInputText type="number" formControlName="age" id="age" class="w-full" />
        </span>

        <p-message
            *ngIf="registerForm.controls.age.errors?.['min'] && registerForm.controls.age.touched"
            severity="error"
            text="Debes ser mayor de edad (18+)">
        </p-message>

        <!-- Teléfono -->
        <span class="p-float-label">
            <label for="phone">Teléfono</label>
            <input pInputText formControlName="phone" id="phone" class="w-full" />
        </span>

        <p-message
            *ngIf="registerForm.controls.phone.errors?.['pattern'] && registerForm.controls.phone.touched"
            severity="error"
            text="Solo se permiten números">
        </p-message>


        <!-- Password -->
        <span class="p-float-label">
            <label for="password">Contraseña</label>
            <p-message
                *ngIf="registerForm.controls.password.invalid && registerForm.controls.password.touched"
                severity="error"
                text="Mínimo 10 caracteres y al menos 1 símbolo (!@#$%^&*)">
            </p-message>
            <p-password
            formControlName="password"
            inputId="password"
            [feedback]="true"
            [toggleMask]="true"
            styleClass="w-full"
            inputStyleClass="w-full">
            </p-password>
        </span>



        <p-button
            label="Registrarse"
            type="submit"
            severity="success"
            class="w-full"
            [disabled]="registerForm.invalid">
        </p-button>

        </form>

    </p-card>

</section>